body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.navigation h1 {
    margin: 0;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.dishes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.search-filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
